<h2 class="text-2xl mb-4">Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="field my-4">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-md border-gray-300 dark:border-slate-600 bg-white dark:bg-opacity-10" %>
  </div>

  <div class="field my-4">
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name, class: "rounded-md border-gray-300 dark:border-slate-600 bg-white dark:bg-opacity-10" %>
  </div>

  <div class="field my-4">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name, class: "rounded-md border-gray-300 dark:border-slate-600 bg-white dark:bg-opacity-10" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field my-4">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
    <%= f.password_field :password, autocomplete: "new-password", class: "rounded-md border-gray-300 dark:border-slate-600 bg-white dark:bg-opacity-10" %>
    <% if @minimum_password_length %>
      <br/>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field my-4">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-md border-gray-300 dark:border-slate-600 bg-white dark:bg-opacity-10" %>
  </div>


  <div class="actions my-4">
    <%= f.submit "Save", class: "flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer" %>
  </div>

  <div class="pt-12"></div>
  <hr/>
<% end %>

