<h2 class="text-2xl font-medium mb-8">Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field my-4">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-md border-gray-300" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field my-4">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
    <%= f.password_field :password, autocomplete: "new-password", class: "rounded-md border-gray-300" %>
    <% if @minimum_password_length %>
      <br/>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field my-4">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-md border-gray-300" %>
  </div>

  <div class="field my-4">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "rounded-md border-gray-300" %>
  </div>

  <div class="actions my-4">
    <%= f.submit "Save", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>

  <div class="pt-12"></div>
  <hr/>
<% end %>
<%= form_with(model: @current_organization, url: organization_path(@current_organization), html: { method: :patch }, class: 'mt-12 flex items-end') do |f| %>
  <div class="flex flex-col">

    <%= f.label :open_ai_api_key, 'OpenAI API key' %>
    <%= f.text_field :open_ai_api_key, placeholder: "OpenAI API key", class: "rounded-md border-gray-300" %>
  </div>
  <%= f.submit "Save", class: "rounded-lg py-2 ml-2 px-4 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
<% end %>
