<h2 class="text-2xl font-medium mb-8">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field my-4">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-md border-gray-300" %>
  </div>

  <div class="field my-4">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: "new-password", class: "rounded-md border-gray-300" %>
  </div>

  <div class="field my-4">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-md border-gray-300" %>
  </div>

  <div class="actions my-4">
    <%= f.submit "Sign up", class: "rounded-lg mr-3 py-3 px-5 bg-blue-50 border border-blue-200 text-blue-600 hover:bg-white font-medium cursor-pointer" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
