<h1 class="text-2xl mb-6"><%= @prompt.title %></h1>
<div class="flex flex-row justify-between items-start">
  <div class="w-2/3">
    <%= render partial: 'form', locals: { prompt: @prompt } %>
  </div>
  <div class="w-1/3 ml-6">
    <h2 class="text-xl font-medium mb-2">Preview</h2>
    <turbo-frame id="preview_frame">
      <div data-controller="preview" data-preview-prompt-id="<%= @prompt.id %>">
        <%= form_with url: preview_prompt_versions_path(@prompt), method: :post, local: true,
                      html: { data: { controller: "preview", url: preview_prompt_versions_path(@prompt),
                                      target: "preview.output preview.form", "preview-prompt-id": @prompt.id } } do |form| %>
          <fieldset data-controller="tab">
            <div data-tab-target="tab" class="w-full flex justify-between items-center rounded-md border text-base shadow-sm font-medium border-gray-300 mb-4">
              <div class="w-1/2 flex justify-center items-center bg-white w-full h-full rounded-l-md p-3 cursor-pointer" data-tab="new" data-action="click->tab#toggle">
                New user prompt
              </div>
              <div class="w-1/2 flex justify-center items-center bg-slate-100 hover:bg-slate-50 rounded-r-md p-3 cursor-pointer" data-tab="saved" data-action="click->tab#toggle">
                <span class="opacity-60">Saved user prompts</span>
              </div>
            </div>
            <%= form.text_area :user_prompt, rows: 10, placeholder: 'Enter user prompt', class: 'rounded-md border-gray-300 font-mono text-base w-full', data: { 'tab-target': 'newPrompt', 'preview-target': 'userPrompt' } %>
            <%= form.select :user_prompt_id, options_from_collection_for_select(@user_prompts, :id, :content), {}, { class: 'rounded-md border-gray-300 font-mono text-base w-full', style: 'display:none', data: { 'tab-target': 'savedPrompts' } } %>
         
          </fieldset>

          <fieldset class="mt-4">
            <div class="flex justify-between items-center">
              <%= form.label :model, 'Model' %>
              <div data-controller="modal">
                <div data-action="click->modal#open" class="text-blue-600 hover:underline cursor-pointer">Learn about
                  models
                </div>
                <div class="overlay hidden fixed inset-0 bg-black opacity-50" data-modal-target="overlay"></div>
                <div class="modal hidden fixed top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 bg-white p-6 rounded-lg" data-modal-target="modal">
                  <p class="text-lg mb-3">Select the model most appropriate for your use-case:
                    general purpose, chat, or code completion.</p>
                  <div class="modal-content grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 md:gap-6 sm:gap-3 gap-1">
                    <% @models.each do |m| %>
                      <div class="bg-gray-100 p-3 rounded-md">
                        <div class="text-lg font-mono"><%= m.name %></div>
                        <div class="font-medium text-sm my-2"><%= m.model_provider.name %></div>
                        <div class="text-sm text-gray-500"><%= m.description %></div>
                      </div>

                    <% end %>
                  </div>
                  <div data-action="click->modal#close" class="text-center mt-4 w-full justify-center text-blue-600 cursor-pointer">Close</div>
                </div>
              </div>
            </div>
            <%= form.select :model, Model.where(enabled: true).pluck(:name), {}, { class: 'rounded-md border-gray-300 font-mono text-base w-full', data: { controller: 'model-select', 'preview-target': 'model', action: 'change->model-select#saveModel', 'model-select-target': 'modelSelect' } } %>
          </fieldset>


          <%= form.submit 'Preview', class: 'cursor-pointer rounded-md bg-white border text-lg font-medium py-2 shadow-sm border-gray-300 flex items-center justify-center w-full mt-4',
                          data: {
                            action: "preview#submitForm",
                            preview_target: "submitButton"
                          }
          %>

          <div class="spinner hidden" data-preview-target="spinner"></div>

        <% end %>

        <div id="result" data-preview-target="output"></div>
      </div>

    </turbo-frame>

  </div>
</div>
