<div class="flex flex-row justify-between ">
  <div class="md:w-2/3 w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @prompt %>

    <%= link_to 'Edit', edit_prompt_path(@prompt), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-200 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Delete', prompt_path(@prompt), method: :delete, class: "bg-red-400 hover:bg-red-500 text-white mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <div class="mt-12">
      <h2 class="text-lg font-medium mb-2">Edit history</h2>
      <% @prompt.prompt_versions.order(created_at: :desc).drop(1).each do |p| %>
        <%= link_to prompt_version_path(@prompt, p), class: "flex flex-col bg-gray-100 rounded-lg p-3 mb-2" do %>
          <p>Edited <%= time_ago_in_words(p.created_at) %>
            ago</p>
          <p class="text-gray-400"><%= p.user.email %></p>
        <% end %>
      <% end %>
      <div class="flex flex-col bg-gray-100 rounded-lg p-3 mb-2">
        <p>Created <%= time_ago_in_words(@prompt.prompt_versions.first.created_at) %>
          ago</p>
        <p class="text-gray-400"><%= @prompt.prompt_versions.first.user.email %></p>

      </div>
    </div>
  </div>

</div>
