<div id="<%= dom_id prompt_version %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Prompt:</strong>
    <%= prompt_version.prompt_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= prompt_version.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Text:</strong>
    <%= prompt_version.text %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this prompt version", prompt_version, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this prompt version', edit_prompt_version_path(prompt_version), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
