<%= form_with(model: input, local: true, class: 'flex-grow') do |form| %>

  <% if input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
        <% input.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-6 flex flex-col">
    <%= form.text_field :title, placeholder: "Enter a title (optional)", class: "font-mono border border-gray-300 dark:border-slate-600 dark:bg-opacity-10 bg-white rounded-md text-lg" %>
  </div>
  <div class="field flex flex-col">
    <%= form.text_area :text, id: :input_text, class: "rounded-md border-gray-300 dark:border-slate-600 bg-white dark:bg-opacity-10 font-mono text-lg", rows: 20, placeholder: "Enter or paste your input text" %>
  </div>

  <div class="actions mt-4 flex flex-row">
    <div>
      <%= form.submit input.id ? 'Update now' : 'Save', class: 'flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer mr-3' %>
    </div>
    <div>
      <%= link_to 'Discard changes', inputs_url, class: 'flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer mr-3' %>
    </div>
  </div>

<% end %>
