<%= form_with(model: input, local: true, class: 'flex-grow') do |form| %>

  <% if input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
        <% input.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-6">
    <%= form.text_field :title, class: "border border-gray-300 rounded-md text-2xl" %>
  </div>
  <div class="field flex flex-col">
    <%= form.text_area :text, id: :input_text, autofocus: true, class: "rounded-md border-gray-300 font-mono text-lg", rows: 20, placeholder: "Enter or paste your input text" %>
  </div>

  <div class="actions mt-4 flex flex-row">
    <div>
      <%= form.submit input.id ? 'Update now' : 'Save', class: 'cursor-pointer mr-3 rounded-lg py-3 px-5 bg-blue-50 border border-blue-200 text-blue-600 hover:bg-white inline-block font-medium' %>
    </div>
    <div>
      <%= link_to 'Discard changes', inputs_url, class: 'mr-3 rounded-lg py-3 px-5 bg-white border border-gray-300 text-gray-700 hover:bg-gray-50 inline-block font-medium cursor-pointer' %>
    </div>
  </div>

<% end %>
