<tr class="even:bg-blue-50 rounded-md <%= defined?(highlighted) && highlighted ? 'highlight' : '' %>"
    data-controller="highlight"
    id="test_run_<%= test_run.id %>_row">
  <td class="px-4 py-2 <%= test_run.status == "error" ? "text-red-400" : "text-gray-500" %>">
    <!--    Do not use @current_organization here because this row gets turbo-streamed from the model-->
    <%= test_run.run_time&.in_time_zone(test_run.test_suite.account.organization.timezone)&.strftime('%B %e, %l:%M %p') %>
  </td>
  <td class="px-4 py-2 flex items-center justify-end flex-row">
    <% if test_run.status != "running" %>
      <%= button_to 'Archive', archive_test_suite_test_run_path(test_suite, test_run), class: 'flex inline-flex rounded items-center justify-center font-medium px-2 py-1 border border bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium mx-2' %>
    <% end %>
    <% if test_run.status == "complete" %>
      <%= link_to 'Details', test_suite_test_run_path(test_suite, test_run), class: 'dark:text-blue-200 text-blue-600 font-medium hover:underline mx-2' %>
    <% end %>
    <%= render "test_runs/status", test_run: test_run %>
  </td>
</tr>
