<table class="mt-6 w-full ">
  <tbody>
  <% test_suite.test_runs.each do |test_run| %>
    <tr class="even:bg-blue-50 rounded-md">
      <td class="px-4 py-2"><%= test_run.run_time.strftime('%B %e, %l:%M %p') %></td>
      <td class="px-4 py-2">
        <% if test_run.status == "running" %>
          <div class="flex inline-flex rounded-md items-center justify-center bg-white border border-gray-300 p-1">
            <div class="font-medium text-sm text-gray-500"><%= test_run.status.titleize %></div>
          </div>
        <% elsif test_run.status == "error" %>
          <div class="flex inline-flex rounded-md items-center justify-center bg-red-400 p-1">
            <div class="font-medium text-sm text-red-800"><%= test_run.status.titleize %></div>
          </div>
        <% elsif test_run.status == "complete" %>
          <div class="flex inline-flex rounded-md items-center justify-center bg-white p-1 border border-green-400">
            <div class="font-medium text-sm text-green-600"><%= test_run.status.titleize %></div>
          </div>
        <% end %>
      </td>
      <td class=" px-4 py-2">
        <% if test_run.status != "running" %>
          <%= link_to 'Details', test_suite_test_run_path(test_suite, test_run), class: 'text-black hover:underline' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
