<div>
  <div class="flex flex-row items-center justify-between">
    <div class="flex items-center justify-start">
      <h1 class="text-2xl"><%= @test_run.test_suite.name %></h1>
      <div class="flex items-center ml-6">
        <%= button_to 'Run again', test_suite_test_runs_path(@test_run.test_suite), class: "flex mr-3 items-center justify-center rounded-md py-2 px-3 bg-green-50 border border-green-300 text-green-500 hover:bg-white text-sm font-medium cursor-pointer" %>
        <%= link_to 'Configure', edit_test_suite_path(@test_run.test_suite), class: 'cursor-pointer mr-3 rounded-md py-2 px-3 bg-blue-50 border border-blue-200 text-blue-600 hover:bg-white text-sm inline-block font-medium' %>
        <%= button_to 'Archive', archive_test_suite_test_run_path(test_suite: @test_run.test_suite, test_run: @test_run), class: 'cursor-pointer mr-3 rounded-md py-2 px-3 bg-blue-50 border border-blue-200 text-blue-600 hover:bg-white text-sm inline-block font-medium' %>
        <%= link_to 'Download CSV', download_test_suite_test_run_path(test_suite: @test_run.test_suite, test_run: @test_run), class: 'cursor-pointer rounded-md py-2 px-3 bg-blue-50 border border-blue-200 text-blue-600 hover:bg-white text-sm inline-block font-medium' %>
      </div>
    </div>

    <div class="flex items-center ">
      <p class="text-sm font-medium text-gray-400"> <%= @test_run.run_time.in_time_zone(@current_organization.timezone).strftime('%B %e, %l:%M %p') %></p>
      <div class="flex flex-wrap items-center ml-4">
        <% @test_run.test_suite.models.each do |m| %>
          <p class="font-mono font-medium text-gray-600 text-xs rounded-full bg-gray-200 px-2 py-1 mr-2 flex items-center justify-center"><%= m.name %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between items-end mt-6">
    <div class="flex flex-col flex-shrink-0" data-controller="run-view-toggle">
      <div class="flex items-center">
        <div id="viewByPrompt" data-action="click->run-view-toggle#viewByPrompt" class="bg-blue-100 rounded-l-md border border-blue-200 cursor-pointer flex items-center justify-center p-3 text-sm font-medium">
          Select prompt
        </div>
        <div id="viewByInput" data-action="click->run-view-toggle#viewByInput" class="rounded-r-md hover:bg-blue-50 border border-l-0 border-blue-200 cursor-pointer flex items-center justify-center p-3 text-sm font-medium">
          Select input
        </div>
      </div>
    </div>
    <div data-controller="prompt-dropdown" id="promptDropdown" class="w-1/3 relative">
      <div class="flex flex-col flex-grow-0 ">
        <span class="text-gray-400 text-sm">Select prompt</span>
        <div class="rounded-md border-gray-300 border text-sm font-medium p-3 cursor-pointer relative bg-white" data-action="click->prompt-dropdown#showMenu">
          <span id="selectedPrompt" data-prompt-dropdown-target="selected"><%= @prompts.first&.prompt.title %></span>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="dropdown-menu absolute left-0 mt-2 hidden flex flex-col overflow-y-scroll border border-gray-300 bg-white rounded-md z-50" data-prompt-dropdown-target="menu">
        <% @prompts.each do |prompt| %>
          <div class="dropdown-item p-4 flex flex-col cursor-pointer hover:bg-blue-50 <%= 'selected' if prompt.id == @prompts.first.id %>" data-id="<%= prompt.id %>" data-action="click->prompt-dropdown#select">
            <div class="dropdown-item-title mb-1 text-sm font-medium"><%= prompt.prompt.title %></div>
            <div class=" dropdown-item-text font-mono text-xs text-gray-600"><%= prompt.text.truncate(140) %></div>
          </div>
        <% end %>
      </div>
      <input type="hidden" name="prompt_id" id="prompt_id" value="<%= @prompts.first&.id %>" data-prompt-dropdown-target="value">
    </div>

    <div data-controller="input-dropdown" id="inputDropdown" data-run-view-toggle-target="inputDropdown" class="w-1/3 relative hidden">
      <div class="flex flex-col flex-grow-0 ">
        <span class="text-gray-400 text-sm">Select input</span>
        <div class="rounded-md border-gray-300 border text-sm font-medium p-3 cursor-pointer relative bg-white" data-action="click->input-dropdown#showMenu">
          <span id="selectedInput" data-input-dropdown-target="selected"><%= @inputs.first&.title %></span>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="dropdown-menu absolute left-0 mt-2 hidden flex flex-col overflow-y-scroll border border-gray-300 bg-white rounded-md z-50" data-input-dropdown-target="menu">
        <% @inputs.each do |input| %>
          <div class="dropdown-item p-4 flex flex-col cursor-pointer hover:bg-blue-50 <%= 'selected' if input.id == @inputs.first.id %>" data-id="<%= input.id %>" data-action="click->input-dropdown#select">
            <div class="dropdown-item-title mb-1 text-sm font-medium"><%= input.title %></div>
            <div class="dropdown-item-text font-mono text-xs text-gray-600"> <%= input.text.truncate(140) %></div>
          </div>
        <% end %>
      </div>
      <input type="hidden" name="input_id" id="input_id" value="<%= @inputs.first&.id %>" data-input-dropdown-target="value">
    </div>
  </div>
  <div id="tableByPrompt">
    <% @test_run.test_run_details.each do |details| %>
      <div data-prompt-id="<%= details.prompt_version.id %>" class="flex justify-between items-center my-12 w-full">
        <div class="flex flex-col w-1/2" data-controller="clipboard">
          <div class="flex justify-start items-center mb-2">
            <h3 class="text-gray-600">Input</h3>
            <button class="copy-btn ml-3 px-2 rounded border border-green-400 text-sm bg-green-50 flex items-center justify-center focus:outline-none" data-action="click->clipboard#copy" data-clipboard-target="copyButton">
              <span data-clipboard-target="copyIcon" class="text-green-500"></span>
              <span data-clipboard-target="copyText" class="text-green-500 font-medium">Copy</span>
            </button>
            <%= link_to edit_input_path(details.input) do %>
              <span class="text-gray-400 hover:text-blue-600 ml-4 text-sm hover:underline">View</span>
            <% end %>
          </div>
          <div class="font-mono text-gray-500 p-4 bg-white border border-gray-200 rounded-lg mr-3 h-80 overflow-y-scroll" id="copy-output" data-clipboard-target="output">
            <%= simple_format(details.input.text) %>
          </div>
        </div>
        <%= feather_icon 'arrow-right', class: 'text-2xl text-gray-400' %>
        <div class="flex flex-col w-1/2" data-controller="clipboard">
          <div class="flex justify-start items-center mb-2">
            <h3 class="text-gray-600">Output</h3>
            <button class="copy-btn ml-3 px-2 rounded border border-green-400 text-sm bg-green-50 flex items-center justify-center focus:outline-none" data-action="click->clipboard#copy" data-clipboard-target="copyButton">
              <span data-clipboard-target="copyIcon" class="text-green-500"></span>
              <span data-clipboard-target="copyText" class="text-green-500 font-medium">Copy</span>
            </button>
          </div>
          <div class="bg-white rounded-lg border border-gray-200 p-4 ml-3 h-80 overflow-y-scroll">
            <div id="copy-output" data-clipboard-target="output" class="font-mono"><%= simple_format(details.output) %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="tableByInput">
    <% @test_run.test_run_details.each do |details| %>
      <div data-input-id="<%= details.input.id %>" class="flex justify-between items-center my-12 w-full">
        <div class="flex flex-col w-1/2" data-controller="clipboard">
          <div class="flex justify-start items-center mb-2">
            <h3 class="text-gray-600">Prompt</h3>
            <button class="copy-btn ml-3 px-2 rounded border border-green-400 text-sm bg-green-50 flex items-center justify-center focus:outline-none" data-action="click->clipboard#copy" data-clipboard-target="copyButton">
              <span data-clipboard-target="copyIcon" class="text-green-500"></span>
              <span data-clipboard-target="copyText" class="text-green-500 font-medium">Copy</span>
            </button>
            <%= link_to prompt_path(details.prompt_version.prompt) do %>
              <span class="text-gray-400 hover:text-blue-600 ml-4 text-sm hover:underline">View</span>
            <% end %>
          </div>
          <div class="font-mono text-gray-500 p-4 bg-white border border-gray-200 rounded-lg mr-3 h-80 overflow-y-scroll" id="copy-output" data-clipboard-target="output">
            <%= simple_format(details.prompt_version.text) %>
          </div>
        </div>
        <%= feather_icon 'arrow-right', class: 'text-2xl text-gray-400' %>
        <div class="flex flex-col w-1/2" data-controller="clipboard">
          <div class="flex justify-start items-center mb-2">
            <h3 class="text-gray-600">Output</h3>
            <button class="copy-btn ml-3 px-2 rounded border border-green-400 text-sm bg-green-50 flex items-center justify-center focus:outline-none" data-action="click->clipboard#copy" data-clipboard-target="copyButton">
              <span data-clipboard-target="copyIcon" class="text-green-500"></span>
              <span data-clipboard-target="copyText" class="text-green-500 font-medium">Copy</span>
            </button>
          </div>
          <div class="bg-white rounded-lg border border-gray-200 p-4 ml-3 h-80 overflow-y-scroll">
            <div id="copy-output" data-clipboard-target="output" class="font-mono"><%= simple_format(details.output) %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
