<div>
  <div class="flex flex-row items-center justify-between">
    <div class="flex items-center justify-start">
      <h1 class="text-2xl"><%= @test_run.test_suite.name %></h1>
      <div class="flex flex-wrap items-center ml-6 text-sm">
        <%= button_to 'Run again', test_suite_test_runs_path(@test_run.test_suite), class: "flex items-center justify-center rounded-md py-2 px-3 bg-green-50 hover:dark:bg-emerald-900 dark:text-green-100 border dark:border-green-600 border-green-300 text-green-700 hover:dark:bg-emerald-700 hover:bg-white font-medium cursor-pointer mr-3 mb-3" %>
        <%= link_to 'Configure', edit_test_suite_path(@test_run.test_suite), class: 'flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer mr-3 mb-3' %>
        <%= button_to 'Archive', archive_test_suite_test_run_path(test_suite: @test_run.test_suite, test_run: @test_run), class: 'flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer mr-3 mb-3' %>
        <%= link_to 'Download CSV', download_test_suite_test_run_path(test_suite: @test_run.test_suite, test_run: @test_run), class: 'flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer mr-3 mb-3' %>
      </div>
    </div>

    <div class="flex items-center ">
      <p class="text-sm font-medium text-gray-400"> <%= @test_run.run_time.in_time_zone(@current_organization.timezone).strftime('%B %e, %l:%M %p') %></p>
      <div class="flex flex-wrap items-center ml-4">
        <% @test_run.test_suite.models.each do |m| %>
          <p class="font-mono font-medium text-gray-600 text-xs rounded-full bg-gray-200 px-2 py-1 mr-2 flex items-center justify-center"><%= m.name %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between items-end mt-6">
    <div class="flex flex-col flex-shrink-0" data-controller="run-view-toggle">
      <div class="flex items-center">
        <div id="viewByPrompt" data-action="click->run-view-toggle#viewByPrompt" class="bg-blue-100 dark:bg-slate-700 rounded-l-md border border-blue-200 cursor-pointer flex items-center justify-center p-3 text-sm font-medium">
          Select prompt
        </div>
        <div id="viewByContext" data-action="click->run-view-toggle#viewByContext" class="rounded-r-md border dark:border-slate-600 border-l-0 border-blue-200 cursor-pointer flex items-center justify-center p-3 text-sm font-medium dark:bg-opacity-10 dark:hover:bg-white dark:hover:bg-opacity-50 hover:bg-blue-50">
          Select context
        </div>
      </div>
    </div>

    <div data-controller="prompt-dropdown" id="promptDropdown" data-prompt-dropdown-default-prompt-id="<%= @prompt_versions.first&.id %>" class="w-1/3 relative">
      <div class="flex flex-col flex-grow-0 ">
        <span class="text-gray-400 text-sm">Select prompt</span>
        <div class="rounded-md border-gray-300 dark:border-slate-600 dark:bg-opacity-10 border text-sm font-medium p-3 cursor-pointer relative bg-white" data-action="click->prompt-dropdown#showMenu">
          <span id="selectedPrompt" data-prompt-dropdown-target="selected"><%= @prompt_versions.first&.prompt.title %></span>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current dark:text-white h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="dropdown-menu absolute left-0 mt-2 hidden flex flex-col overflow-y-scroll border dark:border-slate-600 dark:bg-opacity-10 border-gray-300 bg-white rounded-md z-50" data-prompt-dropdown-target="menu">
        <% @prompt_versions.each do |prompt| %>
          <div class="dropdown-item p-4 flex flex-col cursor-pointer hover:bg-blue-50 <%= 'selected' if prompt.id == @prompt_versions.first.id %>" data-id="<%= prompt.id %>" data-action="click->prompt-dropdown#select">
            <div class="dropdown-item-title mb-1 text-sm font-medium"><%= prompt.prompt.title %></div>
            <div class=" dropdown-item-text font-mono text-xs text-gray-600"><%= prompt.text.truncate(140) %></div>
          </div>
        <% end %>
      </div>
      <input type="hidden" name="prompt_id" id="prompt_id" value="<%= @prompt_versions.first&.id %>" data-prompt-dropdown-target="value">
    </div>

    <div data-controller="context-dropdown" id="contextDropdown" data-context-dropdown-default-context-id-value="<%= @contexts.first&.id %>" data-run-view-toggle-target="contextDropdown" class="w-1/3 relative hidden">
      <div class="flex flex-col flex-grow-0 ">
        <span class="text-gray-400 text-sm">Select context</span>
        <div class="rounded-md border-gray-300 dark:border-slate-600 dark:bg-opacity-10 border text-sm font-medium p-3 cursor-pointer relative bg-white" data-action="click->context-dropdown#showMenu">
          <span id="selectedContext" data-context-dropdown-target="selected"><%= @contexts.first&.title %></span>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current dark:text-white h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="dropdown-menu absolute left-0 mt-2 hidden flex flex-col overflow-y-scroll border border-gray-300 bg-white rounded-md z-50" data-context-dropdown-target="menu">
        <% @contexts.each do |context| %>
          <div class="dropdown-item p-4 flex flex-col cursor-pointer hover:bg-blue-50 <%= 'selected' if context.id == @contexts.first.id %>" data-id="<%= context.id %>" data-action="click->context-dropdown#select">
            <div class="dropdown-item-title mb-1 text-sm font-medium"><%= context.title %></div>
            <div class="dropdown-item-text font-mono text-xs text-gray-600"> <%= context.text.truncate(140) %></div>
          </div>
        <% end %>
      </div>
      <input type="hidden" name="context_id" id="context_id" value="<%= @contexts.first&.id %>" data-context-dropdown-target="value">
    </div>
  </div>

  <div id="selectPrompt">
    <% @contexts.each do |context| %>
      <div data-prompt-id="<%= @prompt_versions.first&.id %>" class="flex justify-between items-center my-12 w-full">
        <div class="flex flex-col w-1/2" data-controller="clipboard">
          <div class="flex justify-start items-center mb-2">
            <h3 class="text-gray-600">Context</h3>
            <button class="copy-btn ml-3 px-2 rounded border border-green-400 text-sm bg-green-50 dark:bg-opacity-10 flex items-center justify-center focus:outline-none" data-action="click->clipboard#copy" data-clipboard-target="copyButton">
              <span data-clipboard-target="copyIcon" class="text-green-500"></span>
              <span data-clipboard-target="copyText" class="text-green-500 font-medium">Copy</span>
            </button>
            <%= link_to edit_context_path(context) do %>
              <span class="text-gray-400 hover:text-blue-600 ml-4 text-sm hover:underline">View</span>
            <% end %>
          </div>
          <div class="font-mono text-gray-500 p-4 bg-white dark:bg-opacity-10 dark:border-slate-600 dark:text-gray-200 border border-gray-200 rounded-lg mr-3 h-80 overflow-y-scroll" id="copy-output" data-clipboard-target="output">
            <%= simple_format(context.text) %>
          </div>
        </div>
        <%= feather_icon 'arrow-right', class: 'text-2xl text-gray-400' %>
        <div class="flex flex-col w-1/2" data-controller="clipboard">
          <div class="flex justify-start items-center mb-2">
            <h3 class="text-gray-600">Output</h3>
            <button class="copy-btn ml-3 px-2 rounded border border-green-400 text-sm bg-green-50 dark:bg-opacity-10 flex items-center justify-center focus:outline-none" data-action="click->clipboard#copy" data-clipboard-target="copyButton">
              <span data-clipboard-target="copyIcon" class="text-green-500"></span>
              <span data-clipboard-target="copyText" class="text-green-500 font-medium">Copy</span>
            </button>
          </div>
          <div id="outputsContainer" class="bg-white dark:bg-opacity-10 dark:border-slate-600 dark:text-gray-200 rounded-lg border border-gray-200 p-4 ml-3 h-80 overflow-y-scroll">
            <% @prompt_versions.each do |prompt_version| %>
              <div id="output<%= prompt_version.id %>" class="output">
                <div id="copy-output" data-clipboard-target="output" class="font-mono ">
                  <% detail = @test_run.test_run_details.find_by(context_id: context.id, prompt_id: prompt_version.prompt.id) %>
                  <%= simple_format(detail.output) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="selectContext" class="hidden">
    <% @prompt_versions.each do |prompt_version| %>
      <div data-context-id="<%= @contexts.first&.id %>" class="flex justify-between items-center my-12 w-full">
        <div class="flex flex-col w-1/2" data-controller="clipboard">
          <div class="flex justify-start items-center mb-2">
            <h3 class="text-gray-600">Prompt</h3>
            <button class="copy-btn ml-3 px-2 rounded border border-green-400 text-sm bg-green-50 dark:bg-opacity-10 flex items-center justify-center focus:outline-none" data-action="click->clipboard#copy" data-clipboard-target="copyButton">
              <span data-clipboard-target="copyIcon" class="text-green-500"></span>
              <span data-clipboard-target="copyText" class="text-green-500 font-medium">Copy</span>
            </button>
            <%= link_to prompt_path(prompt_version.prompt) do %>
              <span class="text-gray-400 hover:text-blue-600 ml-4 text-sm hover:underline">View</span>
            <% end %>
          </div>
          <div class="font-mono text-gray-500 p-4 bg-white dark:bg-opacity-10 dark:border-slate-600 dark:text-gray-200 border border-gray-200 rounded-lg mr-3 h-80 overflow-y-scroll" id="copy-output" data-clipboard-target="output">
            <%= simple_format(prompt_version.text) %>
          </div>
        </div>
        <%= feather_icon 'arrow-right', class: 'text-2xl text-gray-400' %>
        <div class="flex flex-col w-1/2" data-controller="clipboard">
          <div class="flex justify-start items-center mb-2">
            <h3 class="text-gray-600">Output</h3>
            <button class="copy-btn ml-3 px-2 rounded border border-green-400 text-sm bg-green-50 dark:bg-opacity-10 flex items-center justify-center focus:outline-none" data-action="click->clipboard#copy" data-clipboard-target="copyButton">
              <span data-clipboard-target="copyIcon" class="text-green-500"></span>
              <span data-clipboard-target="copyText" class="text-green-500 font-medium">Copy</span>
            </button>
          </div>
          <div id="outputsContainer" class="bg-white dark:bg-opacity-10 dark:border-slate-600 dark:text-gray-200 rounded-lg border border-gray-200 p-4 ml-3 h-80 overflow-y-scroll">
            <% @contexts.each do |context| %>
              <div id="output<%= context.id %>" class="output">
                <div id="copy-output" data-clipboard-target="output" class="font-mono">
                  <% detail = @test_run.test_run_details.find_by(context_id: context.id, prompt_id: prompt_version.prompt.id) %>
                  <%= simple_format(detail.output) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
