<%= form_with(model: @test_suite, local: true, data: { controller: "prompt-panel", "prompt-panel-test-suite-id-value": @test_suite.id, turbo_frame: false }, class: 'w-full xl:w-2/3') do |form| %>
  <% if @test_suite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_suite.errors.count, "error") %> prohibited this test_suite from being saved:</h2>
      <ul>
        <% @test_suite.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field flex flex-col my-4">
    <%= form.label :name %>
    <%= form.text_field :name, class: "rounded-md border-gray-300 dark:border-slate-600 bg-white dark:bg-opacity-10 text-lg w-full md:w-72", placeholder: "Name this test" %>
  </div>
  <hr/>
  <div class="flex flex-row items-start justify-between my-4 py-8">
    <div class="field flex flex-col inline-flex grow">
      <h2 class="text-xl mb-6">Select prompt(s)</h2>

      <div class="flex flex-row items-center">
        <% if @prompts.length == 0 %>
          <button type="button" data-action="click->prompt-panel#openNewPrompt" class="flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer">
            Create a prompt
          </button>
        <% else %>
          <button type="button" data-action="click->prompt-panel#openPrompt" class="flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer">
            Select Prompt(s)
          </button>
          <div data-action="click->prompt-panel#openNewPrompt" class="ml-4 text-base cursor-pointer hover:underline dark:text-blue-200 text-blue-600">
            or create a new prompt
          </div>
        <% end %>
      </div>
      <div data-prompt-panel-target="selectedPrompts" class="mt-6 flex flex-wrap">
        <% @test_suite.prompts.each do |prompt| %>
          <div class="rounded-lg font-medium bg-gradient-to-b from-blue-200 to-blue-50 border border-blue-300 dark:text-white dark:border-slate-600 dark:from-slate-900 dark:to-slate-800 shadow-md text-blue-700 py-2 px-3 mb-3 mr-3 flex justify-between items-center pill" data-id=<%= prompt.id %>>
            <%= prompt.title %>
            <span class="pill-remove cursor-pointer ml-2 p-1 text-lg hover:text-blue-900 dark:text-white text-blue-700">✕</span>
          </div>
        <% end %>
      </div>
    </div>
    <p class="ml-12 text-gray-400 text-sm text-right w-72 flex-shrink-0">
      <% if @prompts.length == 0 %>
        Create your first prompt. We'll test your input(s) against this and deliver the results to you.
      <% else %>
        Select your "base" prompt(s). We'll independently test your inputs against these.
      <% end %>
    </p>
    <hr/>
  </div>
  <hr/>
  <div class="flex flex-row items-start justify-between my-4 py-8">

    <div class="field flex flex-col inline-flex grow">
      <h2 class="text-xl mb-6">Select input(s)</h2>
      <div class="flex flex-row items-center">
        <% if @inputs.length == 0 %>
          <button type="button" data-action="click->prompt-panel#openNewInput" class="flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer">
            Create an input
          </button>
        <% else %>
          <button type="button" data-action="click->prompt-panel#openInput" class="flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer">
            Select Input(s)
          </button>
          <div data-action="click->prompt-panel#openNewInput" class="ml-4 text-base cursor-pointer hover:underline dark:text-blue-200 text-blue-600">
            or create an input
          </div>
        <% end %>
      </div>
      <div data-prompt-panel-target="selectedInputs" class="mt-6 flex flex-wrap">
        <% @test_suite.inputs.each do |input| %>
          <div class="rounded-lg font-medium dark:border-slate-600 dark:from-slate-900 dark:to-slate-800 dark:text-white bg-gradient-to-b from-blue-200 to-blue-50 border border-blue-300 shadow-md text-blue-700 py-2 px-3 mb-3 mr-3 flex justify-between items-center pill" data-id=<%= input.id %>>
            <%= input.title %>
            <span class="pill-remove cursor-pointer ml-2 p-1 text-lg dark:text-white hover:text-blue-900 text-blue-700">✕</span>
          </div>
        <% end %>
      </div>
    </div>
    <p class="ml-12 text-gray-400 text-sm text-right w-72 flex-shrink-0">
      Inputs are the values you want to test against your prompts. They can be anything from a single word to a full
      paragraph. Often times this includes dynamic values, such as user profile data.
    </p>
  </div>
  <hr/>
  <div class="flex flex-row items-start justify-between mt-8 py-8" data-controller="model-picker">
    <div class="flex-grow">
      <h2 class="text-xl mb-6">Select a model</h2>
      <div data-model-picker-target="list" class="grid grid-cols-1 md:grid-cols-2">
        <% @models.each do |m| %>
          <div
            data-action="click->model-picker#selectModel"
            data-model-id="<%= m.id %>"
            class="model-picker-model border rounded-md p-4 cursor-pointer mb-4
        <%= "bg-gradient-to-b from-blue-200 to-blue-50 dark:border-slate-600 dark:from-slate-900 dark:to-slate-800 border-blue-300" if @test_suite.model_ids.first == m.id %>  flex inline-flex flex-col mr-3"
            data-model-picker-target="model"
          >
            <p class="font-mono text-lg"><%= m.name %></p>
            <p class="text-sm text-gray-500 mt-2"><%= m.model_provider.name %></p>
            <p class="mt-2 text-gray-500"><%= m.description %></p>
          </div>
        <% end %>
      </div>
    </div>
    <p class="ml-12 text-gray-400 text-sm text-right w-72 flex-shrink-0">
      Currently built for completion tasks. More models coming soon, including chat-based models.
    </p>
  </div>

  <%= form.hidden_field :mode, value: 'completion' %>
  <%= form.hidden_field :run_now, value: '', data: { "prompt-panel-target": "runNow" } %>

  <div class="actions my-8 flex flex-row">
    <%= button_tag 'Save', type: "submit", class: 'flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer mr-3' %>
    <%= button_tag 'Save and run', type: "submit", data: { action: "prompt-panel#runNow" }, class: 'flex items-center justify-center rounded-md py-2 px-3 bg-green-50 dark:bg-emerald-900 dark:hover:bg-emerald-700 dark:text-green-100 border dark:border-green-600 border-green-300 text-green-700 hover:bg-white font-medium cursor-pointer' %>
  </div>

  <div class="fixed inset-0 bg-black opacity-0" style=" pointer-events: none;" data-prompt-panel-target="overlay" data-action="click->prompt-panel#close"></div>

  <!-- Panel -->
  <div class="p-6 fixed right-0 top-0 h-screen md:w-1/3 sm:w-1/2 w-2/3 overflow-y-auto bg-white dark:bg-opacity-10 dark:backdrop-blur-lg shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out pointer-events-none opacity-0 shadow-lg" data-prompt-panel-target="panel">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl" data-prompt-panel-target="headline">
      </h2>
      <button type="button" data-prompt-panel-target="doneButton" data-action="click->prompt-panel#close" class="flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer">
        Done
      </button>
    </div>
    <div data-prompt-panel-target="list">
      <div id="prompts" class="hidden">
        <% @prompts.each do |prompt| %>
          <div class="border-gray-300 dark:border-slate-600  border rounded-md p-4 cursor-pointer mb-4 hover:bg-blue-50 dark:hover:bg-white dark:hover:bg-opacity-10 <%= @test_suite.prompts.include?(prompt) ? 'bg-gradient-to-b from-blue-200 to-blue-50 border-blue-300 dark:border-slate-600  dark:bg-transparent' : '' %>"
               data-action="click->prompt-panel#selectPrompt"
               data-prompt-panel-target="prompt"
               data-prompt-id="<%= prompt.id %>">
            <p class="text-base mb-2 title"><%= prompt.title %></p>
            <%= simple_format(prompt.prompt_versions.order(:version_number).last.text, class: "text-gray-600 dark:text-slate-400 text-sm font-mono") %>
          </div>
        <% end %>
      </div>
      <div id="inputs" class="hidden">
        <% @inputs.each do |input| %>
          <div class="border-gray-300 border rounded-md p-4 cursor-pointer mb-4 hover:bg-blue-50 dark:hover:bg-white dark:hover:bg-opacity-10<%= @test_suite.inputs.include?(input) ? 'bg-gradient-to-b from-blue-200 to-blue-50 border-blue-300 dark:bg-transparent' : '' %>"
               data-action="click->prompt-panel#selectInput"
               data-prompt-panel-target="input"
               data-input-id="<%= input.id %>">
            <p class="text-base mb-2 title"><%= input.title %></p>
            <%= simple_format(input.text, class: "text-gray-600 dark:text-slate-400 text-sm font-mono") %>
          </div>
        <% end %>
      </div>
      <div id="new_prompt" class="hidden">
        <%= render partial: 'prompts/mini-form', locals: { prompt: Prompt.new } %>
      </div>
    </div>
    <div id="new_input" class="hidden">
      <%= render partial: 'inputs/mini-form', locals: { input: Input.new } %>
    </div>
  </div>
<% end %>
