<div class="flex flex-row justify-between items-center bg-white p-6 rounded-lg shadow-md">
  <div class="flex items-row justify-start">
    <p class="text-2xl"><%= test_suite.name.titleize %></p>
    <div class="text-gray-600">
      Testing
      <% if test_suite.prompts.any? %>
        <span class="text-gray-900">
          <%= test_suite.prompts.length == 1 ? "1 prompt" : "#{test_suite.prompts.length} prompts" %>
        </span>
      <% end %>
      against
      <% if test_suite.user_prompts.any? %>
        <span class="text-gray-900">
          <%= test_suite.user_prompts.length == 1 ? "1 user prompt" : "#{test_suite.user_prompts.length} user prompts" %>
        </span>
      <% end %>
    </div>
  </div>
  <% if test_suite.test_runs.length > 0 %>
    <p>Last ran <%= time_ago_in_words(test_suite.test_runs.last.run_time) %> ago</p>
  <% end %>

  <div class="flex items-center">
    <%= link_to 'Configure', edit_test_suite_path(test_suite), class: 'mr-12 rounded-md py-2 px-3 bg-blue-50 border border-blue-200 text-blue-600 hover:bg-white font-medium cursor-pointer ' %>
    <% if test_suite.configured? %>
      <div class="flex items-center flex-col">

        <div class="rounded-full w-20 h-20 shadow-md flex items-center justify-center cursor-pointer">
          <%= feather_icon "play", class: "text-green-500" %>
        </div>
        <p class="text-base text-gray-500 mt-2">Run</p>
      </div>
    <% end %>
  </div>
</div>
