<h1>Test Suites</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @test_suites.each do |test_suite| %>
    <tr>
      <td><%= test_suite.name %></td>
      <td><%= test_suite.created_at %></td>
      <td><%= test_suite.updated_at %></td>
      <td><%= link_to 'Show', test_suite %></td>
      <td><%= link_to 'Edit', edit_test_suite_path(test_suite) %></td>
      <td><%= link_to 'Delete', test_suite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Suite', new_test_suite_path %>
