<!DOCTYPE html>
<html>
<head>
  <title>PromptSpot</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= hotwire_livereload_tags if Rails.env.development? %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-slate-50">
<div class="container mx-auto p-8">
  <nav class="mb-12 mt-4">
    <ul class="flex items-center justify-between">
      <li class="mr-4 font-bold text-2xl text-blue-600 tracking-tight"><%= link_to "PromptSpot", root_path %></li>
      <div class="flex flex-row items-center">
        <% if current_user %>
          <li class="mr-4"><%= link_to "Account", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </div>
    </ul>
  </nav>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(Array) %>
      <%= content_tag :div, class: "fixed inset-x-0 top-0 flex items-center justify-center mt-5" do %>
        <%= content_tag :div, msg.join(', ').html_safe, class: "py-2 px-3 bg-black text-white rounded-lg inline-flex items-center justify-center rounded-md shadow transform transition-opacity duration-300" %>
      <% end %>
    <% else %>
      <%= content_tag :div, class: "fixed inset-x-0 top-0 flex items-center justify-center mt-5" do %>
        <%= content_tag :div, msg.html_safe, class: "py-2 px-3 bg-black text-white rounded-lg inline-flex items-center justify-center rounded-md shadow transform transition-opacity duration-300" %>
      <% end %>
    <% end %>
  <% end %>



  <%= yield %>
</div>
</body>
</html>
