<!DOCTYPE html>
<html>
<head>
  <title>PromptSpot</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= hotwire_livereload_tags if Rails.env.development? %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-slate-50">
<div class="container mx-auto p-8">
  <nav class="mb-12 mt-4">
    <ul class="flex items-center justify-between">
      <li class="mr-4 font-bold text-2xl text-blue-600 tracking-tight">
        <%= link_to root_path do %>
          <%= image_tag("promptspot-logo.svg", class: "h-6") %>
        <% end %>
      </li>
      <div class="flex flex-row items-center">
        <% if current_user %>
          <li class="mr-6 font-mono font-medium hover:text-gray-500"><%= link_to "Tests", test_suites_path %></li>
          <li class="mr-6 font-mono font-medium hover:text-gray-500"><%= link_to "Prompts", prompts_url %></li>
          <li class="mr-6 font-mono font-medium hover:text-gray-500"><%= link_to "Inputs", inputs_url %></li>
          <li class="mr-6 font-medium font-mono hover:text-gray-500"><%= link_to "Account", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "font-medium font-mono hover:text-gray-500" %></li>
        <% else %>
          <li class="font-medium font-mono hover:text-gray-500"><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </div>
    </ul>
  </nav>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(Array) %>
      <%= content_tag :div, class: "fixed inset-x-0 top-0 flex items-center justify-center mt-5" do %>
        <%= content_tag :div, msg.join(', ').html_safe, class: "py-2 px-3 bg-black text-white rounded-lg inline-flex items-center justify-center rounded-md shadow transform transition-opacity duration-300" %>
      <% end %>
    <% else %>
      <%= content_tag :div, class: "fixed inset-x-0 top-0 flex items-center justify-center mt-5" do %>
        <%= content_tag :div, msg.html_safe, class: "py-2 px-3 bg-black text-white rounded-lg inline-flex items-center justify-center rounded-md shadow transform transition-opacity duration-300" %>
      <% end %>
    <% end %>
  <% end %>
  <%= yield %>
</div>
<footer class="flex items-center justify-center mt-64 mb-12">
  <a href="https://github.com/jordanful/promptspot" target="_blank" class="flex items-center text-gray-500 hover:text-gray-900 text-base mr-3">
    <%= feather_icon 'github', size: '20', class: 'mr-1' %>
    Github
    <%= feather_icon 'external-link', size: '14', class: 'ml-1' %>
  </a>
  <a href="https://twitter.com/jordanful" target="_blank" class="flex items-center text-gray-500 hover:text-gray-900 text-base ml-3">
    @jordanful
    <%= feather_icon 'external-link', size: '14', class: 'ml-1' %>
  </a>

  <div data-controller="theme" class="flex items-center justify-between py-4 ml-6">
    <%= feather_icon 'sun', class: 'w-5 h-5 text-gray-500 mr-1' %>
    <label class="switch">
      <input type="checkbox" data-theme-target="theme" data-action="click->theme#changeTheme">
      <span class="slider round"></span>
    </label>
    <%= feather_icon 'moon', class: 'w-5 h-5 text-gray-500 ml-1' %>
  </div>


</footer>
</body>
</html>
