<!DOCTYPE html>
<html>
<head>
  <title>HotelbotRails</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= hotwire_livereload_tags if Rails.env.development? %>
    <%= javascript_importmap_tags %>
</head>

<body class="bg-slate-50">
<div class="container mx-auto p-8">
  <nav class="mb-12 mt-4">
    <ul class="flex items-center justify-end">
      <li class="mr-4"><%= link_to "Home", root_path %></li>
      <% if current_user %>
        <li class="mr-4"><%= link_to "Account", edit_user_registration_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>
</div>
</body>
</html>
